::-webkit-scrollbar,
*::-webkit-scrollbar {
  display: none;
}

p {
margin-bottom: 5px;
padding-bottom: 5px;
}

.btn-group .button {
  background-color: #4CAF50; /* Green */
  border: 1px solid green;
  color: white;
  padding: 10px 15.1px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 8px;
  cursor: pointer;
  float: left;
}


.btn-group .button:hover {
  background-color: #3e8e41;
}

body {
  margin: 10;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  overflow: hidden;
 align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.navbar a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background: #f1f1f1;
  color: black;
}

.navbar a.active {
  background-color: #4CAF50;
  color: white;
}

.main {
  padding: 0px;
  margin-bottom: 30px;
}


